@model ClinicWallyMisr.Reservation

@{
    ViewBag.Title = "Details";
}



<div style="margin-top:20px;clear:both;"></div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">

        <div>
            <dl class="dl-horizontal row">
                <div class="row">
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.patientName)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.patientName)
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.fromTime)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.fromTime)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.toTime)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.toTime)
                        </dd>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.reservationType)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.reservationType)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.notes)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.notes)
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.status)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.status)
                        </dd>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.roomNumber)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.roomNumber)
                        </dd>

                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.SystemPerson.name)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.SystemPerson.name)
                        </dd>
                    </div>
                    <div class="col-md-4"></div>
                </div>





            </dl>

    
                <div class="form-actions no-color">
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                    </p>
                </div>
            
        </div>
    </div>
</div>
