@model IEnumerable<ClinicWallyMisr.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form class="form">
    <div class="form-group">
        <label class="control-label col-md-2">Room Number</label>
        <div class="col-md-10">
            <input type="text" name="roomNumberQ" id="roomNumberQ" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Doctor</label>        <div class="col-md-10">
            @Html.DropDownList("doctorIdsearch", null, string.Empty, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <input type="submit" class="form-control glyphicon glyphicon-search" value="Search" />
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.patientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fromTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.toTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reservationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SystemPerson.name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.patientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fromTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.toTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reservationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemPerson.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
