@model ClinicWallyMisr.medicine

@{
    ViewBag.Title = "Delete";
}

<div style="margin-top:20px;clear:both;"></div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <div class="row">
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.code)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.code)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.scientificName)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.scientificName)
                        </dd>

                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.commercialName)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.commercialName)
                        </dd>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.activeIngredient)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.activeIngredient)
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.type)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.type)
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.dose)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.dose)
                        </dd>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.sideEffects)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.sideEffects)
                        </dd>

                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.notes)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.notes)
                        </dd>

                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.UOM)
                        </dt>
                        <dd class="myinput">
                            @Html.DisplayFor(model => model.UOM)
                        </dd>
                    </div>
                </div>
         
                <div class="row">
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.Route)
                        </dt>
                        <dd class="myinput">
                            @Html.DisplayFor(model => model.Route)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.Duration)
                        </dt>
                        <dd class="myinput">
                            @Html.DisplayFor(model => model.Duration)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.Frequency)
                        </dt>
                        <dd class="myinput">
                            @Html.DisplayFor(model => model.Frequency)
                        </dd>
                    </div>
                </div>
       
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    @Html.ActionLink("Back to List", "Index", new { id = Model.prescriptionId }, new { @class = "btn btn-default" })
                </div>
            }
        </div>

</div>
</div>
<br />