@model ClinicWallyMisr.SystemPerson

@{
    ViewBag.Title = "Details";
}


<div style="margin-top:20px;clear:both;"></div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">


        <div>
            <dl class="dl-horizontal row">
                <div class="row">
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.name)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.name)
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.address)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.address)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.gender)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.gender)
                        </dd>
                    </div>




                </div>

                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.religion)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.religion)
                        </dd>

                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.nationality)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.nationality)
                        </dd>

                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.maritalStatus)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.maritalStatus)
                        </dd>
                    </div>





                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.insuranceNo)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.insuranceNo)
                        </dd>
                    </div>
                    <div class="col-md-4">


                        <dt>
                            @Html.DisplayNameFor(model => model.SSN)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.SSN)
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.DateofBirth)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.DateofBirth)
                        </dd>
                    </div>



                </div>

                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.Phone)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.Phone)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.mobile1)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.mobile1)
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.mobile2)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.mobile2)
                        </dd>
                    </div>





                </div>

                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.place)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.place)
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.cv)
                        </dt>

                        <dd class="myinput">
                            @if (Model.cv != null)
            {
                if (Model.cv.Contains(Model.id.ToString()))
                {
                                    @Html.ActionLink(Model.cv.Substring(Model.id.ToString().Length), "displayFile", "SystemPersons", new { @filePath = @Model.cv }, null)
                                }
                            }
                        </dd>
                    </div>

                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.joinDate)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.joinDate)
                        </dd>
                    </div>




                </div>

                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.leaveDate)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.leaveDate)
                        </dd>

                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.leaveReason)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.leaveReason)
                        </dd>

                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.scientificDegree)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.scientificDegree)
                        </dd>
                    </div>



                </div>

                <hr>
                <div class="row">
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.Type)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.Type)
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.Job.name)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.Job.name)
                        </dd>
                    </div>
                    <div class="col-md-4">


                        <dt>
                            @Html.DisplayNameFor(model => model.Specialization.name)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.Specialization.name)
                        </dd>
                    </div>



                </div>

            </dl>
            <hr />
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            </p>


        </div>
    </div>
</div>