@model ClinicWallyMisr.patient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diagnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diagnosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diagnosisCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diagnosisCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.masterStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.masterStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateofDiagnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateofDiagnosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateofRelapse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateofRelapse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstPresentationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstPresentationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referredFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referredFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maritalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maritalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.occupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.occupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noofChildren)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noofChildren)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ageofOldest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ageofOldest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ageofYoungest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ageofYoungest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.governorate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.governorate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.relationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.relationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.relation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.relation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.relationPhone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.relationPhone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.relationPhone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.relationPhone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.relationPhone3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.relationPhone3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.relationAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.relationAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.relationGovernorate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.relationGovernorate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.demographic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.demographic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.demographicType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.demographicType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.demographicSince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.demographicSince)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.packsNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.packsNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alcoholIntake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alcoholIntake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.menstrual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.menstrual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LMPDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LMPDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contraception)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contraception)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pregnancyatDiagnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pregnancyatDiagnosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SystemPerson.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemPerson.name)
        </dd>

    </dl>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
