@model IEnumerable<ClinicWallyMisr.patient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <form>
        <div class="form-group">
            
            <label class="col-md-1" for="name">Name</label>
            <div >
                <input  type="text" id="name" name="name" class="form-control col-md-4" />
            </div>
            <button  type="submit" class="btn-primary">Search</button>
        </div>
    </form>
</div>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diagnosis)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.masterStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateofDiagnosis)
        </th>
        <th>
            Visits
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diagnosis)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.masterStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateofDiagnosis)
            </td>
            <td>
                @Html.ActionLink("Visits", "Index", "visits", new { @id=item.id},null)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
