@model ClinicWallyMisr.visit

@{
    ViewBag.Title = "Create";
}
<div style="margin-top:20px;clear:both;"></div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.visitDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.visitDate, new { htmlAttributes = new { @class = "myinput", data_datepicker = "true" } })
                            @Html.ValidationMessageFor(model => model.visitDate, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.DoctorId, "Doctor", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("DoctorId", null, htmlAttributes: new { @class = "myinput" })
                            @Html.ValidationMessageFor(model => model.DoctorId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <input type="hidden" value="@ViewBag.patient.id" id="patientId" name="patientId" />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @{
                    Guid myId2 = ViewBag.patient.id;

                }
                @Html.ActionLink("Back to List", "Index", new { @id = myId2 }, new { @class="btn btn-default"})
            </div>

            </div>
        </div>
    </div>
<div style="margin-top:20px;clear:both;"></div>
