@model ClinicWallyMisr.visit

@{
    ViewBag.Title = "Delete";
}

<div style="margin-top:20px;clear:both;"></div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <div class="row">
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.visitDate)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.visitDate)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.visitStatus)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.visitStatus)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.visitSite)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.visitSite)
                        </dd>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.complaintType)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.complaintType)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.PresentHistory)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.PresentHistory)
                        </dd>

                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.decision)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.decision)
                        </dd>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">


                        <dt>
                            @Html.DisplayNameFor(model => model.requestedInvestigations)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.requestedInvestigations)
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.GeneralAppearance)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.GeneralAppearance)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.mentality)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.mentality)
                        </dd>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.Built)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.Built)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.Pallor)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.Pallor)
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.jaundice)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.jaundice)
                        </dd>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.cyanosis)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.cyanosis)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.postureDuringWalking)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.postureDuringWalking)
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.postureStanding)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.postureStanding)
                        </dd>
                    </div>
                </div>

   
                <div class="row">
                    <div class="col-md-4">


                        <dt>
                            @Html.DisplayNameFor(model => model.postureSitting)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.postureSitting)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.postureLyingSupineorPhone)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.postureLyingSupineorPhone)
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.vitalSigns)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.vitalSigns)
                        </dd>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.patient.name)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.patient.name)
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.SystemPerson.name)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.SystemPerson.name)
                        </dd>
                    </div>
                    <div class="col-md-4"></div>
                </div>



            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    @Html.ActionLink("Back to List", "Index", new { id = Model.patientId } ,new { @class = "btn btn-default" } )
                </div>
            }
            </div>
        </div>

        </div>
