@model IEnumerable<ClinicWallyMisr.visit>

@{
    ViewBag.Title = "Index";
}
<div style="margin-top:20px;clear:both;"></div>
<div class="row">
    <div class="col-md-offset-2 col-md-6">
        <div class="row">


            <p style="float:right" class="btn btn-primary">
                @Html.ActionLink("Create New Visit", "Create", new { @id = ViewBag.patient.id })
            </p>
        </div>
</div>
    </div>

<div style="margin-top:20px;clear:both;"></div>


<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="row">
            @Html.ActionLink("Patients", "Index", "patients", null, new { @class = "btn" })
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-6">Patient Name : </label>
                    <div class="col-md-10 ">
                        <input type="text" readonly="readonly" value="@ViewBag.patient.name " />

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-6">diagnosis</label>
                    <div class="col-md-10 ">
                        
                        <input type="text" readonly="readonly" value="@ViewBag.patient.diagnosis " />

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-6">diagnosis Code</label>
                    <div class="col-md-10 ">
                        
                        <input type="text" readonly="readonly" value="@ViewBag.patient.diagnosisCode " />

                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-6">notes</label>
                    <div class="col-md-10 ">
                        
                        <input type="text" readonly="readonly" value="@ViewBag.patient.notes " />

                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-6">master Status</label>
                    <div class="col-md-10 ">
                        <input type="text" readonly="readonly" value="@ViewBag.patient.masterStatus " /> 
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-6">date of Diagnosis</label>
                    <div class="col-md-10 ">
                        
                        <input type="text" readonly="readonly" value="@ViewBag.patient.dateofDiagnosis " />

                    </div>
                </div>

            </div>
        </div>




        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-6">first Status</label>
                    <div class="col-md-10 ">
                        
                        <input type="text" readonly="readonly" value="@ViewBag.patient.firstStatus " />

                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-6">date of Relapse</label>
                    <div class="col-md-10 ">
                        
                        <input type="text" readonly="readonly" value="@ViewBag.patient.dateofRelapse " />

                    </div>
                </div>

            </div>


        </div>

        <hr />
        <div class="row">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.visitDate)
                    </th>
                    <th>
                        Doctor
                    </th>
                    <th>Examinations</th>
                    <th>Investigations</th>
                    <th>Prescriptions</th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr style="cursor:pointer" class="clickable" data-href="@Url.Action("Edit", "visits", new { id = item.id })">
                        <td>
                            @Html.DisplayFor(modelItem => item.visitDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SystemPerson.name)
                        </td>
                        <td>@Html.ActionLink("Examinations", "Index", "examinations", new { id = item.id }, new { @class = "btn" })</td>
                        <td>@Html.ActionLink("Investigations", "investigations", "visits", new { id = item.id }, new { @class = "btn" })</td>
                     <td>@Html.ActionLink("Prescriptions", "Index", "prescriptions", new { id = item.id }, new { @class = "btn" })</td>
                        
                        
                       


                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id = item.id })
                        </td>
                    </tr>
                }

            </table>
        </div>


    </div>
    </div>

