@model ClinicWallyMisr.examination

@{
    ViewBag.Title = "Delete";
}
<div style="margin-top:20px;clear:both;"></div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">

        <h3>Are you sure you want to delete this?</h3>

            <hr />
            <dl class="dl-horizontal row">
                <div class="row">
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.redness)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.redness)
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.swelling)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.swelling)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.scars)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.scars)
                        </dd>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.LTWastingofQuadriceps)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.LTWastingofQuadriceps)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.RTWastingofQuadriceps)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.RTWastingofQuadriceps)
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.LTWastingofQuadricepsCompare)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.LTWastingofQuadricepsCompare)
                        </dd>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.RTWastingofQuadricepsCompare)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.RTWastingofQuadricepsCompare)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.LTWastingofScapula)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.LTWastingofScapula)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.RTWastingofScapula)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.RTWastingofScapula)
                        </dd>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.LTLognThoracicNerveInjury)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.LTLognThoracicNerveInjury)
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            @Html.DisplayNameFor(model => model.RTLognThoracicNerveInjury1)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.RTLognThoracicNerveInjury1)
                        </dd>

                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.Effusion)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.Effusion)
                        </dd>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.EffusionType)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.EffusionType)
                        </dd>
                    </div>
                    <div class="col-md-4">


                        <dt>
                            @Html.DisplayNameFor(model => model.NearByJoints)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.NearByJoints)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.NearByJointsType)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.NearByJointsType)
                        </dd>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.GaitPattern)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.GaitPattern)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.GaitPatternType)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.GaitPatternType)
                        </dd>
                    </div>
                    <div class="col-md-4">

                        <dt>
                            @Html.DisplayNameFor(model => model.visit.visitStatus)
                        </dt>

                        <dd class="myinput">
                            @Html.DisplayFor(model => model.visit.visitStatus)
                        </dd>
                    </div>
                </div>
                

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    @Html.ActionLink("Back to List", "Index", new { id = Model.visitId }, new { @class="btn btn-default"})
                </div>
            }
        </div>
</div>