@model ClinicWallyMisr.prescription

@{
    ViewBag.Title = "Create";
}
<br />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.notes, new { htmlAttributes = new { @class = "myinput" } })
                @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
            </div>
        </div>
        <input type="hidden" value="@ViewBag.visit.id" id="visitId" name="visitId" />


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<div>
    @{
        Guid myId2 = ViewBag.visit.id;

    }
    @Html.ActionLink("Back to List", "Index", new { id = myId2 }, new { @class = "btn btn-default" })
</div>

